@import url(reset.css);
.wrapper{
	width:1030px;
	height:auto;
	margin:5px auto;
}

.top-header{
	height:115px;
	width:100%;
	overflow:hidden;
}

.logo{
	float:left;
	max-width:145px;
	max-height:103px;
}

div.search{
	 float:right;
}

.search input[type=text]{	
 background-image: url('images/search.png');
 width:308px;
 height:37px;	
 display:inline-block;
 position:relative;
 margin-left:43px;
}

.top-info {
	float:right;
}

.top-info span.phone{
	color:red;
}

.top-info ul li{
	float:left;
	margin-top:12px;
	margin-right:11px;
}

.top-info ul li a{
	text-decoration:underline;
	color:#666666;
}

.search,.top-info{
	margin:28px 0;
}

.header nav{
 background-color: #000a52;
 overflow:hidden;
 height:40px;
 position:absolute;
 width:100%;
 left:0;
}

.header nav ul{
  margin:12px 0;
}

.header nav ul li{
	float:left;
	padding-right:15px;
}

.header nav ul li a{
	text-decoration:none;
	color:white;
}

.header nav ul li a:hover{
	border-bottom:2px solid white;
}
